{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about us</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>

  <div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container">
        <p class="text-blk heading-text">
          Meet our dream team
        </p>
        <p class="text-blk sub-heading-text">
          Bienvenue chez AJYL ! 
        </p>
        <p class="text-blk sub-heading-text">
          Nous sommes une jeune équipe dévouée à simplifier la gestion des
          risques financiers grâce à notre application innovante de calcul de probabilité de défaut. Notre mission est
          de fournir aux entreprises et aux individus des outils puissants et faciles à utiliser pour évaluer les
          risques et prendre des décisions éclairées. Avec notre expertise en modélisation statistique avancée, nous
          mettons entre vos mains une solution qui vous permettra de naviguer en toute confiance dans le monde complexe
          de la gestion des risques.
        </p>
        <p class="text-blk sub-heading-text">
          Rejoignez-nous pour façonner l'avenir de la gestion des risques financiers !
        </p>
      </div>
      <div class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container">
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
          <div class="card">
            <img class="card-img" src="{% static 'css/joseph2.jpg' %}">
            <p class="text-blk name">
              Joseph WILLSON
            </p>
            <p class="text-blk position">
              CEO / j.willson@ajyl.fr
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
          <div class="card">
            <img class="card-img" src="{% static 'css/lea.jpeg' %}">
            <p class="text-blk name">
              Léa Benovici 
            </p>
            <p class="text-blk position">
              Data Scientist / l.benovici@ajyl.fr
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
          <div class="card">
            <img class="card-img" src="{% static 'css/yao2.jpg' %}">
            <p class="text-blk name">
              Yao Zhang
            </p>
            <p class="text-blk position">
              Credit Analyst / y.zhang@ajyl.fr
            </p>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
          <div class="card">
            <img class="card-img" src="{% static 'css/alex.jpg' %}">
            <p class="text-blk name">
              Alexandre Quach
            </p>
            <p class="text-blk position">
              Data Engineer / a.quach@ajyl.fr
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>