{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
    <body>

        <div class="responsive-container-block outer-container">
            <div class="responsive-container-block inner-container">
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container">
                <p class="text-blk heading-text">
                  Meet our dream team
                </p>
                <p class="text-blk sub-heading-text">
                    Bienvenue chez [Nom de l'entreprise] ! Nous sommes une jeune équipe dévouée à simplifier la gestion des risques financiers grâce à notre application innovante de calcul de probabilité de défaut. Notre mission est de fournir aux entreprises et aux individus des outils puissants et faciles à utiliser pour évaluer les risques et prendre des décisions éclairées. Avec notre expertise en modélisation statistique avancée, nous mettons entre vos mains une solution qui vous permettra de naviguer en toute confiance dans le monde complexe de la gestion des risques.
                </p>
                <p class="text-blk sub-heading-text">
                    Rejoignez-nous pour façonner l'avenir de la gestion des risques financiers !
                </p>
              </div>
              <div class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container">
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                  <div class="card">
                    <img class="card-img" src="{% static 'css/lea.jpeg' %}">
                    <p class="text-blk name">
                      Léa Benovicci
                    </p>
                    <p class="text-blk position">
                      Data Scientist
                    </p>
                  </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                  <div class="card">
                    <img class="card-img" src="https://media.licdn.com/dms/image/D4E35AQFNLivQSw2AfQ/profile-framedphoto-shrink_400_400/0/1711018129503?e=1712520000&v=beta&t=bvPsKQMTt5FTnZnmAqVaOcjYhwSL2esszrforjDLmZg">
                    <p class="text-blk name">
                      Yao Zhang
                    </p>
                    <p class="text-blk position">
                      Credit Analyst
                    </p>
                  </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                  <div class="card">
                    <img class="card-img" src="{% static 'css/joseph.jpg' %}">
                    <p class="text-blk name">
                      Joseph WILLSON
                    </p>
                    <p class="text-blk position">
                      CEO
                    </p>
                  </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">
                  <div class="card">
                    <img class="card-img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ft12.svg">
                    <p class="text-blk name">
                      Gustavo Workman
                    </p>
                    <p class="text-blk position">
                      CEO
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </body>
</html>