{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Table</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
</head>
<body>
    <div>
        <!-- Barre de navigation pour filtrer -->
        <ul class="navigation">
            <li><a href="?">Tous</a></li>
            {% for option in name_type_suite_options %}
                <li><a href="?name_type_suite={{ option }}">{{ option }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Tableau de données -->
    <table class="data-table">
        <thead>
            <tr>
                {% for column in data.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ graph_html | safe }}

</body>
</html>
