{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>step2</title>
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
</head>

<body>
    <div class="container">
        <div class="details-container">
            <h1> Plus de détails :</h1>
        </div>

        <div class="feature-container">
            <h3>Dans le domaine financier, spécialement en gestion du risque de crédit, il est crucial de comprendre et
                d'appliquer différentes Marges de Conservatisme (MoC). Voici une présentation corrigée des concepts de
                MoC A, MoC C, LRA et PD, selon leurs définitions appropriées :</h3>

            <h3>Marge de Catégorie A (MoC A) : </h3>
            <p>Cette marge de conservatisme est utilisée pour prendre en compte les insuffisances de données et les
                faiblesses méthodologiques identifiées. Elle a pour but d'ajouter un coussin de sécurité dans
                l'évaluation du risque de crédit pour pallier les potentiels biais lors de l'évaluation.
            </p>

            <h3>Marge de Catégorie C (MoC C) :</h3>
            <p>Cette marge est destinée à couvrir l'erreur d'estimation générale, assurant ainsi la robustesse de
                l'évaluation du risque de crédit, même en présence d'imprécisions dans le processus d'estimation.
            </p>

            <h3>Évaluation du Taux de Perte (LRA) :</h3>
            <p>L'évaluation du taux de perte est une mesure estimant le pourcentage de perte que le prêt pourrait subir
                en cas de défaut de l'emprunteur. C'est un composant crucial de la gestion des risques car elle aide les
                institutions financières à prévoir les pertes potentielles et à prendre les mesures de contrôle des
                risques appropriées.
            </p>

            <h3>Probabilité de Défaut (PD) :</h3>
            <p>Il s'agit de l'indicateur mesurant la possibilité qu'un emprunteur fasse défaut dans un futur proche. La
                PD est au cœur de l'évaluation du risque de crédit et est généralement calculée sur la base de données
                historiques et de la situation financière de l'emprunteur.
            </p>

            <p>L'utilisation de ces marges de conservatisme vise à renforcer la robustesse des modèles de risque de
                crédit, en s'assurant que les institutions financières peuvent gérer et contrôler efficacement le risque
                de crédit, même dans des contextes de haute incertitude. Ces ajustements marginaux aident les banques et
                les institutions financières à respecter les exigences réglementaires et à fournir des évaluations du
                risque plus prudentes et fiables.</p>

        </div>

    </div>
</body>

</html>