{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vérification</title>
  <link rel="stylesheet" href="{% static 'css/verification.css' %}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="contient">
    <div class="page-actions">
      <a href="/variables_choisis/" class="back-btn" >
        Page précédente
      </a>
    </div>

    <div class="result">
      <h1> Résultats du test : </h1>
    </div>

    <div class="auc-gini">
      <h2> Impossible</h2>
    </div>

    <div class="graphique-volume-container">
      <h2> Graphique présentant le stabilité des taux en fonction du temps :</h2>
      <div class="graphique-volume-items">
        {% for graph_base64 in graphs_base64 %}
        <img src="data:image/png;base64,{{ graph_base64 }}" alt="Graphique">
        {% endfor %}

      </div>
    </div>

    <div class="cramer-container">
      <div class="cramer">
        <h2> Matrice de Cramer : </h2>
        <img src="data:image/png;base64,{{ vdecramer }}" alt="Graphique">
      </div>

    </div>

  </div>

</body>

</html>